<!DOCTYPE html>
<html lang="en">

<head>
    <title>After School Lessons</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="lessons.js"></script>
</head>

<body>
    <div id="app">  
        <main> 
            <!-- Display site name using mustache syntax-->
            <h1>{{sitename}}</h1>

            <!-- Label for the sort dropdown -->
            <label for="sortAttribute">Sort by:</label>
            <select v-model="sortAttribute" id="sortAttribute">
                <option value="name">Subject</option>
                <option value="location">Location</option>
                <option value="price">Price</option>
                <option value="availability">Spaces</option>
            </select>

            <label for="sortOrder">Order:</label>

            <select v-model="sortOrder" id="sortOrder">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
            <input type="text" v-model.trim="searchQuery" @input="searchedresult" placeholder="Search lessons">
           
            <button v-on:click='toggleCart' :disabled="cart.length === 0">
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span> Shopping Cart
            </button>

            <!--LESSON DISPLAY-->
            <div v-if='showProduct'> 
                <div class="lessons-container">
                    <div v-for="lesson in lessons" class="lesson-box">

                        <!-- Lesson details -->
                        <h2>{{ lesson.name }}</h2>
                        <figure>
                            <img v-bind:src="lesson.image" style="height:250px; width:250px">
                        </figure>

                        <p>Location: {{ lesson.location }}</p>
                        <p>Price: {{ lesson.price }} AED</p>
                        <p>Availability: {{ lesson.availability }} spaces</p>

                        <div>
                            <span v-for="n in lesson.rating" class="star">★</span>
                            <span v-for="n in 5 - lesson.rating" class="star">☆</span>
                        </div>
                     
                        <button v-on:click='addToCart(lesson)' :disabled="!canAddToCart(lesson)">
                            
                            Add to Cart
                        </button>
                        <span v-if="lesson.availability === 0" class="out-of-stock">Out of stock</span>
                    </div>
                </div>
            </div>

            <!--IF SHOPPING CART IS NOT EMPTY: -->
            <div v-else>
                <div class="cart-container">
                    <h2>{{ cart.length > 0 ? 'Shopping Cart' : 'Checkout' }}</h2>
                
                    <div v-if="cart.length === 0">
                        <p>Your shopping cart is empty.</p>
                    </div>
                    <div v-else>
                        <div v-for="cartLesson in cart" class="cart-item">
                            <h3>{{ cartLesson.name }}</h3>
                            <!-- Display price and button to remove from Cart -->
                            <p>Price: {{ cartLesson.price }} AED</p>

                            <!--when clicked, triggers the removeFromCart method with the current cartLesson as an argument-->
                            <button v-on:click="removeFromCart(cartLesson)">Remove from Cart</button>
                        </div>
                    </div>

                    <!--CHECKOUT PAGE-->
                    <div v-if="cart.length > 0">

                        <!-- Order information -->
                        <h2>Order Information</h2>
                        <p>
                            <strong>Full Name:</strong> <!--bold text-->
                            <input v-model.trim="order.fullName" @input="validateFullName" />
                            
                            <span v-if="!validFullName && order.fullName !== ''" class="validation-error">Please enter a
                                valid full name with letters only.</span>
                        </p>

                        <p>
                            <strong>Phone Number:</strong>
                            <input v-model="order.phone" @input="validatePhone" />

                            <!-- Validation message for phone number -->
                            <span v-if="!validPhone && order.phone !== ''" class="validation-error">Please enter a valid
                                phone number.</span>
                        </p>

                        <!-- Place Order button -->
                        <button v-on:click="submitForm" :disabled="!validOrderInfo">Checkout</button>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Vue.js script -->
    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app', //creating a new vue instance with the element named as app
            data: {
                // Site name mounting the app
                sitename: "After School Lessons",
                // Contains an array of lesson data
                lessons: [],
                // Flag to toggle between lesson display and shopping cart/checkout (flag is like a switch: when its true then it displays lessons, when its false = checkout page)
                showProduct: true,
                // Array to store items in the cart
                cart: [],
                // Attribute to sort lessons by (default: Name of Subject)
                sortAttribute: "name",
                // Order to sort lessons (default: Ascending)
                sortOrder: "asc",
                // Order information (full name, phone)
                order: {
                    fullName: '', //input shud be empty, the textbox shouldnt have anything in it obviously
                    phone: '',

                },

                // Validation flags for full name and phone number
                validFullName: false,
                validPhone: false,

                // User input for lesson search
                searchQuery: '', 
            },
            created:
                //fetch GET
                function () {
                    // set the url to your server and route
                    fetch('http://localhost:3000/collection/lessons', {
                        method: 'GET', // set the HTTP method as 'GET'
                        headers: {
                            'Content-Type': 'application/json', // set the data type as JSON
                        }
                    })
                        .then(res => {
                            return res.json();
                        })
                        .then(data => {
                            webstore.lessons = data;
                        })
                },

            methods: {
                // This method is responsible for adding a lesson to the shopping cart
                addToCart: function (lesson) { //lesson object as a parameter
                    if (lesson.availability > 0) { //checks if the availability of the lesson is greater than 0
                        this.cart.push(lesson);
                        //If the availability is greater than 0, the lesson is added to the cart array, and the availability is decremented by 1.
                        lesson.availability--;
                    }
                },
              
                toggleCart() {
                    this.showProduct = !this.showProduct;
                },


                // Check if lesson can be added to the cart
                canAddToCart: function (lesson) { 
                    
                    return lesson.availability > 0;
                },
                // Remove lesson from the cart
                removeFromCart: function (lesson) {
                    
                    const index = this.cart.indexOf(lesson);

                    if (index !== -1) { //if index is not equal to -1
                       
                        this.cart.splice(index, 1);

                        //increments the availability of the specific lesson by 1 after removing it from the cart.
                        lesson.availability++;
                    }
                },

                // Method to Validate full name using regex
                validateFullName() {
                    const regex = /^[A-Za-z\s]+$/;
                    this.validFullName = regex.test(this.order.fullName);
                },
                // Validate phone number using regex
                validatePhone() {
                    const regex = /^[0-9]*$/;
                    this.validPhone = regex.test(this.order.phone);
                },

                // AFTER ORDER IS SUBMITTED = ORDER SUBMITTED MESSAGE 
                submitForm() {
                    alert('Order Submitted!');
                    postOrder(this.order.fullName, this.order.phone, this.cart);

                    function postOrder(name, contact, orderCart) {
                        var finalCart = [];

                        for (let i = 0; i < orderCart.length; i++) {
                            const uniqueCartOrder = { "_id": orderCart[i]._id, "lesson": orderCart[i].name, "quantity": 1 };

                            let found = false;
                            for (let j = 0; j < finalCart.length; j++) {
                                if (finalCart[j]._id == orderCart[i]._id) {
                                    found = true;
                                    finalCart[j].quantity++;
                                    break;
                                }
                            }

                            if (!found) {
                                finalCart.push(uniqueCartOrder);
                            }
                        }
                        console.log(finalCart);

                        const newOrder = { "order": finalCart, "name": name, "contact": contact }
                        fetch('http://localhost:3000/collection/orders', {
                            method: 'POST', // set the HTTP method as 'POST'
                            headers: {
                                'Content-Type': 'application/json', // set the data type as JSON
                            },
                            body: JSON.stringify(newOrder), // need to stringify the JSON object
                        })
                            .then(response => response.json()) // Parse response as JSON
                            .then(function () {
                                for (let i = 0; i < finalCart.length; i++) {
                                    fetch("http://localhost:3000/collection/lessons/" + finalCart[i]._id, { // Fixed syntax error here
                                        method: 'PUT',
                                        headers: {
                                            "Content-Type": "application/json"
                                        },
                                        body: JSON.stringify({ "availability": lessons[i].availability - finalCart[i].quantity }),
                                    })
                                        .then(response => response.json()) // Parse response as JSON
                                        .then(data => {
                                            console.log(data); // Log response from PUT request
                                        })
                                        .catch(error => {
                                            console.error('Error:', error);
                                        });

                                    console.log("Lessons array: ", lessons[i])
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });

                        // clears the shopping cart, indicating that the order has been successfully submitted 
                        this.cart = [];
                        //clears the user's input for full name and phone number after the order has been submitted.
                        this.order = {
                            fullName: '',
                            phone: '',
                        };
                    }
                },
            },


            computed: {
                cartItemCount: function () {
                   
                    return this.cart.length || '';
                },
                validOrderInfo: function () {
                    return this.validFullName && this.validPhone;
                },


                // Sort and filter lessons based on user input
                sortedLessons: function () {
                    const attribute = this.sortAttribute;
                    const order = this.sortOrder === "asc" ? 1 : -1;

                    return this.lessons.slice(0).sort((a, b) => { 
                        let aValue = a[attribute]; 
                        let bValue = b[attribute];

                        if (typeof aValue === "string") { 
                            aValue = aValue.toLowerCase(); 
                            bValue = bValue.toLowerCase(); 
                        }

                        if (aValue > bValue) { 
                            return order; 
                        } else if (aValue < bValue) { 
                            return -order; 
                        }

                        return 0; 
                    });
                },


                // Unique Search function for "Search as you type"
                filteredLessons: function () {
                    const query = this.searchQuery.toLowerCase();
                    if (!query) return this.sortedLessons; 

                    return this.sortedLessons.filter(lesson => {
                        const lessonName = lesson.name.toLowerCase();
                        const lessonLocation = lesson.location.toLowerCase();
                        return lessonName.includes(query) || lessonLocation.includes(query);
                        
                    });
                },
                searchedresult() {
                    let searchText = this.searchQuery.toLowerCase();

                    if (searchText != "") {

                        //GET request to retrieve the lessons from the server
                        fetch('http://localhost:3000/collection/lessons/search/' + searchText).then(
                            function (res) {
                                res.json().then(
                                    function (json) {
                                        webstore.lessons = JSON.parse(JSON.stringify(json));
                                        console.log(JSON.parse(JSON.stringify(json)));
                                        return json;
                                    });
                            });
                    }
                }
            },

        });
    </script>
</body>

</html>